.footer.section.section_theme_dark 
  .footer__container

    .footer__contacts-column  

      .footer__contacts
        h2.footer__title Контакты
        ul.footer__contacts-list 
          li.footer__contacts-list-item По общим вопросам:
            |  
            a.link.link_theme_dark.footer__contacts-list-link(href="mailto:info@sfera.zon") info@sfera.zone
          li.footer__contacts-list-item Для инвесторов:
            |  
            a.link.link_theme_dark.footer__contacts-list-link(href="mailto:info@sfera.zon") invest@sfera.zone
          li.footer__contacts-list-item По вопросам работы:
            |  
            a.link.link_theme_dark.footer__contacts-list-link(href="mailto:info@sfera.zon") rabota@sfera.zone
          li.footer__contacts-list-item WhatsApp основателя:
            |  
            a.link.link_theme_dark.footer__contacts-list-link(href="https://api.whatsapp.com/send/?phone=420774715626") +420 776 419 030

      .social-links
        ul.social-links__list
          li.social-links__item 
            a.link.social-links__link.social-links__link_youtube(href="#") Наш канал в YouTube
          li.social-links__item 
            a.link.social-links__link.social-links__link_tiktok(href="#") Мы в TikTok 
          li.link.social-links__item 
            a.link.social-links__link.social-links__link_vk(href="#") Мы ВКонтакте
          li.link.social-links__item 
            a.social-links__link.social-links__link_dzen(href="#") Мы в Дзене
          li.link.social-links__item 
            a.social-links__link.social-links__link_instagram(href="#") Мы в Инстаграме


    .footer__links-column
      .footer__site-links
        ul.footer__site-links-list
          li.footer__site-links-list-item 
            a.link.link_theme_dark.footer__site-links-list-link(href="/about.html") О проекте
          li.footer__site-links-list-item 
            a.link.link_theme_dark.footer__site-links-list-link(href="/apps.html") Приложения
          li.footer__site-links-list-item 
            a.link.link_theme_dark.footer__site-links-list-link(href="/news.html") Новости
          li.footer__site-links-list-item 
            a.link.link_theme_dark.footer__site-links-list-link(href="/startup.html") Стартапам
          li.footer__site-links-list-item 
            a.link.link_theme_dark.footer__site-links-list-link(href="/investors.html") Инвестиции
          li.footer__site-links-list-item 
            a.link.link_theme_dark.footer__site-links-list-link(href="/team.html") Команда

      .footer__download-links 
        ul.footer__download-links-list 
          li.footer__download-links-item 
            a.button(href="#") Скачать на iOS 
          li.footer__download-links-item 
            a.button(href="#") Скачать на ANDROID

      .footer__regulation
        p.footer__regulation-text.footer__policy
          a.link.link_theme_dark(href="#") Положение SFERA 
        p.footer__regulation-text.footer__copyright-text © Copyright 2019-2022
          | 
          |
          a.link.link_theme_dark(href="https://sfera.zone") https://sfera.zone
          |&nbsp;— Проект SFERA | Все права защищены ООО&nbsp;«СФЕРА»