.team {
  padding: 80px 0 200px;
  
  &__gallery {

    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, 268px);
      gap: 39px;
      list-style: none;
      margin: 0;
      padding: 60px 0 0;

      &-item {
        position: relative;
        padding: 0;
        margin: 0;
      }

      &-image-wrapper {
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.16));
        border-radius: 8px;
      }

      &-image {
        border-radius: 8px;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
        object-fit: contain;
        
      }

      &-member-wrapper {
        color: white;
        position: absolute;
        left: 0;
        top: 254px;
        padding: 0 18px 35px;
      }

      &-member-name {
        font-size: 22px;
        line-height: 27px;
        font-weight: 600;
        padding: 0 0 6px 0;
        margin: 0;
      }

      &-member-role {
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        padding: 0;
        margin: 0;
      }
    }
  }
}